

// /*
//  * Text Colors
//  */

.dk-mint {
	color: #003945 !important;
}

.white {
	color: #fff !important;
}

.mint {
    color: #1ec4b4 !important;
}

.lt-mint {
    color: #55ede2 !important;
}

