svg {
  width: 80%;
}

/*************************
  Branch and leaf basics
**************************/

.branch {
  opacity: 0.3;
}

.leaf {
  opacity: 0;
/*   animation: leaf 1s linear forwards; */
}

.orange {
  opacity: 0;
}


// Branch Keyframe 

@keyframes branch {
  from {
    opacity: 1;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000; 
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

// In reverse because some branches were drawn in by the illustrator in opposite direction
@keyframes reverse-branch {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: -800;
    opacity: 1;
    
  }
  to {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    opacity: 1;
  }
}


/*************************
  Leaf and leaf basics
**************************/



/*************************
  Main animation attributes
**************************/

#B1, #B6, #B7 {
  animation: reverse-branch 10s linear 10s forwards;
}

#B2, #B3, #B4, #B5, #B8, #B9, #B10 {
  animation: branch 10s linear 10s forwards;
}

/*************************
  Group one
**************************/
// animations are grouped into sections for organizational sake



#B1 {
  animation-duration: 3s;
  animation-delay: 0s;
}

#B2 {
  animation-duration: 4s;
  animation-delay: 2s;
}

#B3 {
  animation-duration: 5s;
  animation-delay: 2.5s;
}


#B4 {

/*   animation: branch 10s linear 5s forwards; */
}

#B5 {
/*   animation: branch 10s linear 5.5s forwards; */
}
/*************************
  Group two
**************************/


/*************************
  Group three
**************************/


/*************************
  Group four
**************************/


/*************************
  Group five
**************************/


// #B6 {
//   stroke-dasharray: 800;
//   stroke-dashoffset: 10;
// /*   animation: reverse-branch 7s linear 1s forwards; */
// }

// #B7 {
//   stroke-dasharray: 800;
//   stroke-dashoffset: 10;
// /*   animation: reverse-branch 8s linear 4.5s forwards; */
// }

// #B8 {
//   stroke-dasharray: 1000;
//   stroke-dashoffset: 10;
// /*   animation: branch 10s linear 7.5s forwards; */
// }


// #B9 {
//   stroke-dasharray: 1000;
//   stroke-dashoffset: 10;
// /*   animation: branch 10s linear 6.5s forwards; */
// }


// #B10  {
//   stroke-dasharray: 1000;
//   stroke-dashoffset: 10;
// /*   animation: branch 10s linear 6s forwards; */
// }



/* LEAVES */

@keyframes leaf {
   0% {
     opacity: 0;
     transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }

} 


/* leaf batch one  */


#L1 { 
  animation: leaf 1s linear forwards;
  transform-origin: 257px 265px;
  // -webkit-transform-origin: 100% 50%;
  // -moz-transform-origin: 100% 50%;
}

// #L2 {
//   transform-origin: 0% 100%;
//   animation: leaf 2s linear 7.5s forwards; 
// }

// #L3 {
//   transform-origin: 0% 0%;
//   animation: leaf 3s linear 7.75s forwards; 
// }


// #L5 {
//   transform-origin: 100% 50%;
//    animation: leaf 2.2s linear 9s forwards; 
// }

/* #L13,L20,L9 {} */

// #L13 {
//   transform-origin: 100% 50%;
//    animation: leaf 2.2s linear 9s forwards; 
// }

// #L20 {
//   transform-origin: 100% 50%;
//    animation: leaf 2.2s linear 9s forwards; 
// }

// #L9 {
//   transform-origin: 100% 50%;
//    animation: leaf 2.2s linear 9s forwards; 
// }

/* leaf batch two  */

/* L23, L22 B2 B5*/

// #L22 {
//   transform-origin: 100% 50%;
//    animation: leaf 2.2s linear 13s forwards; 
// }


/* leaf batch three B5 */

/* L8 L11,L16 ,L20 L4 L6 L22 L7*/

// #L23 {
//   transform-origin: 100% 50%;
//    animation: leaf 2.2s linear 13s forwards; 
// }

// #L8 {
//   transform-origin: 100% 100%;
// /*   animation: leaf 1s linear forwards;  */
// }

// #L9 {
//   transform-origin: 100% 0%;
// /*   animation: leaf 1s linear forwards; */
// }

// #L10 {
//   transform-origin: 0% 100%;
// /*   animation: leaf 1s linear forwards; */
// }

// #L11 {
//   transform-origin: 100% 90%;
// /*   animation: leaf 1s linear forwards; */
// }

// #L12 {
//   transform-origin: 0% 90%;
// /*   animation: leaf 1s linear forwards;  */
// }

// #L13 {
//   transform-origin: 100% 0%;
// /*   animation: leaf 1s linear forwards;  */
// }

// #L14 {
//   transform-origin: 100% 0%;
// /*   animation: leaf 1s linear forwards;  */
// }

// #L15 {
//   transform-origin: 0% 100%;
// /*   animation: leaf 1s linear forwards;  */
// }

// #L16 {
//   transform-origin: 100% 100%; 
// /*   animation: leaf 1s linear forwards;  */
// }
// #L17 {
//   transform-origin: 100% 100%; 
// /*   animation: leaf 1s linear forwards; */
// }
// #L18 {
//   transform-origin: 0% 100%; 
// /*   animation: leaf 1s linear forwards; */
// }
// #L19 {
//   transform-origin: 50% 100%; 
// /*   animation: leaf 1s linear forwards; */
// }
// #L20 {
//   transform-origin: 100% 50%; 
// /*   animation: leaf 1s linear forwards; */
// }
// #L21 {
//   transform-origin: 100% 100%; 
// /*   animation: leaf 1s linear forwards; */
// }
// #L22 {
//   transform-origin: 0% 50%; 
// /*   animation: leaf 1s linear forwards; */
// }
// #L23 {
//   transform-origin: 0% 50%; 
// /*   animation: leaf 1s linear forwards; */
// }



