
// /*
//  * Footer
//  */

// TODO: what to use: rem or em for fonts and spacing? why?

footer {
	font-size: 0.875rem; // this is an oddly specific font size?

	nav {
		li {
			padding: 0 1rem;
		}

		a:link, a:visited {
			color: #696b74;
		}
	}
}
