@font-face {
    font-family: 'Graphik Bold';
    src: url('fonts/graphik/graphik-bold.woff2') format('woff2'),
         url('fonts/graphik/graphik-bold.woff') format('woff');
    font-style: normal;

}

@font-face {
  font-family: 'Graphik Medium';
  src: url('fonts/graphik/graphik-medium.woff2') format('woff2'),
  url('fonts/graphik/graphik-medium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('fonts/proxima/proximanova-regular-webfont.woff2') format('woff2'),
  url('fonts/proxima/proximanova-regular-webfont.woff') format('woff');
  font-style: normal;
}

html, body, p {
  font-family: 'Proxima';
  color: #636363;
  font-size: 1em;
  line-height: 1.4;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Graphik Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h4, .h4 {
    font-size: 1.25em;
}

h2 {
	font-size: 3.052em;
	color: #003945;
	font-weight: 800;
}

.text-small {
  font-size: .9em;
}

.text-large {
    font-size: 1.143em !important;
}

.text-semi-bold {
  font-weight: 600;
}
