.center-all {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}  


// Margins and padding basic helpers
// Use these primarily for most spacing needs
// Extra Custom spacing for organisms can be included there without these helpers
		// For example, if something has 43px and 3 break points, overuse of helpers isn't needed

.margin-0px {
	margin: 0px;
}
.margin-5px {
	margin: 5px;
}
.margin-10px {
	margin: 10px;
}
.margin-20px {
	margin: 20px;
}
.margin-30px {
	margin: 30px;
}
.margin-40px {
	margin: 40px;
}
.margin-50px {
	margin: 50px;
}


.margin-top-5px {
	margin-top: 5px;
}
.margin-top-10px {
	margin-top: 10px;
}
.margin-top-20px {
	margin-top: 20px;
}
.margin-top-25px {
	margin-top: 20px;
}
.margin-top-30px {
	margin-top: 30px;
}
.margin-top-40px {
	margin-top: 40px;
}
.margin-top-50px {
	margin-top: 50px;
}
.margin-top-75px {
	margin-top: 75px;
}
.margin-top-100px {
	margin-top: 100px;
}
.margin-top-125px {
	margin-top: 125px;
}



.margin-bottom-0px {
	margin-bottom: 0px;
}
.margin-bottom-5px {
	margin-bottom: 5px;
}
.margin-bottom-10px {
	margin-bottom: 10px;
}
.margin-bottom-20px {
	margin-bottom: 20px;
}
.margin-bottom-25px {
	margin-bottom: 25px;
}
.margin-bottom-30px {
	margin-bottom: 30px;
}
.margin-bottom-40px {
	margin-bottom: 40px;
}
.margin-bottom-50px {
	margin-bottom: 50px;
}
.margin-bottom-75px {
	margin-bottom: 75px;
}
.margin-bottom-100px {
	margin-bottom: 100px;
}
.margin-bottom-125px {
	margin-bottom: 125px;
}


.margin-left-5px {
	margin-left: 5px;
}
.margin-left-10px {
	margin-left: 10px;
}
.margin-left-20px {
	margin-left: 20px;
}
.margin-left-30px {
	margin-left: 30px;
}
.margin-left-40px {
	margin-left: 40px;
}
.margin-left-50px {
	margin-left: 50px;
}


.margin-right-5px {
	margin-right: 5px;
}
.margin-right-10px {
	margin-right: 10px;
}
.margin-right-20px {
	margin-right: 20px;
}
.margin-right-30px {
	margin-right: 30px;
}
.margin-right-40px {
	margin-right: 40px;
}
.margin-right-50px {
	margin-right: 50px;
}






.padding-0px {
	padding: 0px !important;
}
.padding-5px {
	padding: 5px;
}
.padding-10px {
	padding: 10px;
}
.padding-20px {
	padding: 20px;
}
.padding-30px {
	padding: 30px;
}
.padding-40px {
	padding: 40px;
}
.padding-50px {
	padding: 50px;
}



.padding-top-5px {
	padding-top: 5px !important;
}
.padding-top-10px {
	padding-top: 10px;
}
.padding-top-20px {
	padding-top: 20px;
}
.padding-top-30px {
	padding-top: 30px;
}
.padding-top-40px {
	padding-top: 40px;
}
.padding-top-50px {
	padding-top: 50px;
}
.padding-top-100px {
	padding-top: 100px;
}
.padding-top-125px {
	padding-top: 125px;
}
.padding-top-200px {
	padding-top: 200px;
}

.padding-bottom-5px {
	padding-bottom: 5px;
}
.padding-bottom-10px {
	padding-bottom: 10px;
}
.padding-bottom-20px {
	padding-bottom: 20px;
}
.padding-bottom-30px {
	padding-bottom: 30px;
}
.padding-bottom-40px {
	padding-bottom: 40px;
}
.padding-bottom-50px {
	padding-bottom: 50px;
}
.padding-bottom-100px {
	padding-bottom: 100px;
}
.padding-bottom-125px {
	padding-bottom: 125px;
}
.padding-bottom-150px {
	padding-bottom: 150px;
}
.padding-bottom-200px {
	padding-bottom: 200px;
}

.padding-left-0px {
	padding-left: 0px;
}

.padding-left-5px {
	padding-left: 5px;
}
.padding-left-10px {
	padding-left: 10px;
}
.padding-left-20px {
	padding-left: 20px;
}
.padding-left-30px {
	padding-left: 30px;
}
.padding-left-40px {
	padding-left: 40px;
}
.padding-left-50px {
	padding-left: 50px;
}
.padding-left-100px {
	padding-left: 100px;
}

.padding-right-5px {
	padding-right: 5px;
}
.padding-right-10px {
	padding-right: 10px;
}
.padding-right-20px {
	padding-right: 20px;
}
.padding-right-30px {
	padding-right: 30px;
}
.padding-right-40px {
	padding-right: 40px;
}
.padding-right-50px {
	padding-right: 50px;
}




@media screen and (max-width: 742px) {

	.margin-xs-0px {
		margin: 0px;
	}
	.margin-xs-10px {
		margin: 10px;
	}
	.margin-xs-20px {
		margin: 20px;
	}
	.margin-xs-30px {
		margin: 30px;
	}
	.margin-xs-40px {
		margin: 40px;
	}
	.margin-xs-50px {
		margin: 50px;
	}

	.margin-xs-top-0px {
		margin-top: 0px;
	}
	.margin-xs-top-10px {
		margin-top: 10px;
	}
	.margin-xs-top-20px {
		margin-top: 20px;
	}
	.margin-xs-top-30px {
		margin-top: 30px;
	}
	.margin-xs-top-40px {
		margin-top: 40px;
	}
	.margin-xs-top-50px {
		margin-top: 50px;
	}


	.margin-xs-bottom-0px {
		margin-bottom: 0px;
	}
	.margin-xs-bottom-10px {
		margin-bottom: 10px;
	}
	.margin-xs-bottom-20px {
		margin-bottom: 20px;
	}
	.margin-xs-bottom-30px {
		margin-bottom: 30px;
	}
	.margin-xs-bottom-40px {
		margin-bottom: 40px;
	}
	.margin-xs-bottom-50px {
		margin-bottom: 50px;
	}


	.margin-xs-left-0px {
		margin-left: 0px;
	}
	.margin-xs-left-10px {
		margin-left: 10px;
	}
	.margin-xs-left-20px {
		margin-left: 20px;
	}
	.margin-xs-left-30px {
		margin-left: 30px;
	}
	.margin-xs-left-40px {
		margin-left: 40px;
	}
	.margin-vleft-50px {
		margin-left: 50px;
	}



	.margin-xs-right-0px {
		margin-right: 0px;
	}
	.margin-xs-right-10px {
		margin-right: 10px;
	}
	.margin-xs-right-20px {
		margin-right: 20px;
	}
	.margin-xs-right-30px {
		margin-right: 30px;
	}
	.margin-xs-right-40px {
		margin-right: 40px;
	}
	.margin-xs-right-50px {
		margin-right: 50px;
	}



	//padding

	.padding-xs-0px {
		padding: 0px;
	}
	.padding-xs-10px {
		padding: 10px;
	}
	.padding-xs-20px {
		padding: 20px;
	}
	.padding-xs-30px {
		padding: 30px;
	}
	.padding-xs-40px {
		padding: 40px;
	}
	.padding-xs-50px {
		padding: 50px;
	}


	.padding-xs-top-0px {
		padding-top: 0px;
	}
	.padding-xs-top-10px {
		padding-top: 10px;
	}
	.padding-xs-top-20px {
		padding-top: 20px;
	}
	.padding-xs-top-30px {
		padding-top: 30px;
	}
	.padding-xs-top-40px {
		padding-top: 40px;
	}
	.padding-xs-top-50px {
		padding-top: 50px;
	}


	.padding-xs-bottom-0px {
		padding-bottom: 0px;
	}
	.padding-xs-bottom-10px {
		padding-bottom: 10px;
	}
	.padding-xs-bottom-20px {
		padding-bottom: 20px;
	}
	.padding-xs-bottom-30px {
		padding-bottom: 30px;
	}
	.padding-xs-bottom-40px {
		padding-bottom: 40px;
	}
	.padding-xs-bottom-50px {
		padding-bottom: 50px;
	}


	.padding-xs-left-0px {
		padding-left: 0px;
	}
	.padding-xs-left-10px {
		padding-left: 10px;
	}
	.padding-xs-left-20px {
		padding-left: 20px;
	}
	.padding-xs-left-30px {
		padding-left: 30px;
	}
	.padding-xs-left-40px {
		padding-left: 40px;
	}
	.padding-xs-left-50px {
		padding-left: 50px;
	}


	.padding-xs-right-0px {
		padding-right: 0px;
	}
	.padding-xs-right-10px {
		padding-right: 10px;
	}
	.padding-xs-right-20px {
		padding-right: 20px;
	}
	.padding-xs-right-30px {
		padding-right: 30px;
	}
	.padding-xs-right-40px {
		padding-right: 40px;
	}
	.padding-xs-right-50px {
		padding-right: 50px;
	}
}