.btn {
  color: #fff !important;
  font-weight: 600;
}

.btn-berry {
  background: #EC4847;
  padding: 5px 40px;
}

.btn-dk-mint {
 background-color: #003945;
 border: 1px solid #003945;
}

.btn-white {
 background-color: #fff;
 border: 1px solid #fff;
}

.btn-inline {
 display: inline-block;
}
