
.btn {
  -webkit-transition: all 125ms ease-in-out;
  -moz-transition: all 125ms ease-in-out;
  transition: all 125ms ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #EC4847;
  border: 1px solid #DF3A39;
  color: #ffffff;
  font-weight: 600;
  font-size: inherit;
  height: auto;
  letter-spacing: 0.015em;
  margin-bottom: 10px;
  padding: 8px 20px;
  text-decoration: none;
}

.btn.btn-berry, .btn.primary {
	color: #fff;
}


.btn {
 margin: 1rem auto;
 float: none;
 display: block;
} 

.btn-dk-mint {
 background-color: #003945;
 border: 1px solid #003945;
 color: #fff;
}

.btn-dk-mint a {
 color: #fff;
}

.btn-white {
 background-color: #fff;
 border: 1px solid #fff;
}

.btn-inline {
 display: inline-block;
}
