svg.logo-berry path {
    fill: #EC4847;
}

.spot-illo {
	max-width: 100%;
}


.illo-tote {
  // These lines feel very hacky but it worked. Would love a second opinion.
  // Sorry I couldn't remember how you said to do it over our phone convo!
  left: 300px;
  top: -230px;
  z-index: 1000;
  width: 50%;
}
