.breakout {
  margin: 0 calc(50% - 50vw); // copied from: https://codepen.io/tigt/post/bust-elements-out-of-containers-with-one-line-of-css
}

.breakout > * {
  margin: 0 auto;
  max-width: 1140px; // Note: this is also the max-width of the parent container element
}
