.form-group {
  min-height: 40px;
  position: relative;
  margin-bottom: 10px;
}

.form-icon .form-group input,
.form-icon .form-group .form-control {
  padding-left: 50px;
  width: 100%;
}

#signup-company .form-wrapper .form,
#signup-accountant .form-wrapper .form {
	padding: 25px 30px 15px 30px;
	border: 1px solid #ededee;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(237, 237, 238);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	border-top: 3px solid #1ec4b4;
	padding: 20px 30px;
	position: relative;
	margin: 0 auto;
	max-width: 450px;
}